.Caixa-ajuda{
width: 500px;
height: 500px;  
background-color: black;
background-image: none;
color: white;
text-align:left;
align-items: start;
}
.Caixa{
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
}
.textajuda{
  color: white;
  font-weight: bold;
}